<!DOCTYPE html>
<html>
<head>
	<title>Edit an Item</title>
</head>
<body>
	<form action="{{url_for('editItem',itemID=item.id)}}" method="post" >
		<label>name:</label>
		<input type="text" name="name" size="30" placeholder="{{item.name}}">
		<label>description:</label>
		<textarea name="description"></textarea>
		<label>brand:</label>
		<input type="text" name="brand" size="30">
		<label>price:</label>
		<input type="text" name="price">
		<input type="submit" Value="Edit">
		<a href="{{url_for('showItem',itemID=item.id)}}">Cancel</a>
		
	</form>

</body>
</html>