{%extends 'main.html'%}
{%block content%}
<body class="crud-page">
	<header class="container-fluid">
		<h2>Catalog App</h2>
	</header>
	<div class="flash">
      	{%with messages = get_flashed_messages()%}
      	{%if messages%}
      	<ul>
      		{%for message in messages%}
      		<li><strong>{{message}}</strong></li>
      		{%endfor%}
      	</ul>
      	{%endif%}
      	{%endwith%}

      </div>
	<h2>{{item.name}}</h2>
	<label>Description:</label>
	{{item.description}}
    </br>
	{%if item.brand!=None%}
	<label>Brand:</label>
	{{item.brand}}
    </br>
	{%endif%}
	<label>Price:</label>
	${{item.price}}
    </br>
    </br>
    
	<a href="{{url_for('editItem',itemID=item.id)}}"><button class="myButton" type="button">
		<span  aria-hidden="true"></span>Edit</button></a>
	<a href="{{url_for('deleteItem',itemID=item.id)}}"><button class="myButton" type="button">
		<span  aria-hidden="true"></span>Delete</button></a>
	<a href="{{url_for('showItems',catID=item.category_id)}}"><button class="myButton" type="button">
		<span  aria-hidden="true"></span>Back</button></a>	


</body>
{%endblock%}