{%extends 'main.html'%}
{%block content%}
<body>  
<header class="container-fluid">
  <h2>Catalog App</h2>
   <a href="{{url_for('showCategories')}}"> <i class="fa fa-home" style="float: right; color: #e63d00">Home</i> 
</header>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Shopping Categories</h4>
      <ul class="nav nav-pills nav-stacked">
      <!--  <li class="active"><a href="#section1">Home</a></li> -->

      <div class="flash">
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        <ul>
          {%for message in messages%}
          <li><strong>{{message}}</strong></li>
          {%endfor%}
        </ul>
        {%endif%}
        {%endwith%}

      </div>
      
  {%for c in categories%}
  
  <li><a href="{{url_for('showItems',catID=c.id)}}"><h3>{{c.name}}</h3></a></li>
  
  {%endfor%}


      </ul><br>
  
    </div>
    <div class="col-sm-9">
    

    <h2>{{category.name}}</h2>        
    <hr>

    
      <h3>Items:</h3>     
      <p>
         {%for i in items%}
        <a href="{{url_for('showItem',itemID=i.id)}}"><h3>{{i.name}}</h3></a>

        {%endfor%}
      </p>
      <br><br>
    </div>  
    
  </div>
</div>
<footer class="container-fluid">
  <p>End of Page</p>
</footer>

</body>
{%endblock%}
